<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoomRentalBank</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RoomRentalBank.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="title">
            <h1><a href="/Home/Index" class="home">HỆ THỐNG NGÂN HÀNG NHÀ TRỌ - Nhóm G10</a></h1>
        </div>
        <div class="buttons">
            <button class="login-btn">Đăng Nhập</button>
            <button class="post-btn"><a href="/Post/NewPost" class="create-post">Cung cấp thông tin nhà trọ</a></button>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - RoomRentalBank - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
